@import url("https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz&display=swap");
.topNav {
  background-color: #333;
  overflow: hidden;
}

.topNav ul h3 {
  display: inline;
  color: white;
  padding: 14px 16px;
}
.topNav ul {
  padding: 10;
  list-style-type: none;
}
.topNav ul h3:hover {
  background-color: #ff00cc;
}
.coin-header {
  padding-left: 36em;
}
.progress-bar {
  position: relative;
  height: 20px;
  width: 350px;
  border-radius: 50px;
  border: 1px solid #ff00cc;
}

.filler {
  background: #ff00cc;
  height: 100%;
  border-radius: inherit;
  transition: width 0.2s ease-in;
}

.stats-container {
  line-height: 50%;
  display: inline-block;
  font-family: "Yanone Kaffeesatz", sans-serif;
}
.outside-stats-container {
  text-align: center;
}
.root {
  background-color: #f7f7ef;
  background-image: url("./img-asset/ricepaper_v3.png");
  display: grid;

  grid-template-rows: 0.5fr 1fr;

  grid-template-areas: "chart-area" "stats-area";

  min-height: 100%;
  justify-items: center;
}

.stats-grid-box {
  grid-area: stats-area;

  margin: 5em;
}
.chart-grid-box {
  grid-area: chart-area;
}
.stats-box {
  width: 600px;
  height: 300px;

  background-color: #f7f7ef;
}
